.col-12{
	height: 45px;
}

.col-6{
	height: 650px;
	margin-left: 350px;
}

.col-sm-6{
	height: 95px;
	margin-left: 350px;
}

.col-8{
	height: 650px;
	
}

.col-4{
	height: 650px;
}

.d-flex{
	display: flex;
}

.col-sm-4{
	height: 95px;
}

.col-sm-12{
	height: 360px;
}

.col-xl-12{
	height: 250px;
	margin-top: 10px;
}

.col-md-12{
	height: 400px;
	margin-top: 10px;
}

.col-10{
	height: 70px;
	margin-left: 20px;
}

.col-md-12{
	height: 230px;
	margin-top: 70px;
	margin-left: 1px;
}

.col-lg-12{
	height: 130px;
	margin-bottom: 290px;
	margin-left: 1px;
}

.col-5{
	height: 47px;
	border: white solid;
}

.col-md-6{
	height: 47px;
	border: white solid;
}

.col-2{
	height: 47px;
	border: white solid;
}

.col-sm-5{
    background-color: white;
	height: 40px;
	border: white solid;
}

.col-7{
	background-color: white;
	height: 40px;
	border: white solid;
}

.col-3{
	height: 35px;
}

.col-9{
	height: 35px;
}

.col-sm-3{
	background-color: white;
	height: 45px;
	border: white solid;
}

.col-sm-9{
	background-color: white;
	height: 45px;
	border: white solid;
}

.col-md-3{
	background-color: white;
	height: 45px;
	border: white solid;
}

.img-fluid{
	height: 50px;
}

.qwe{
   height: 30px;
}

.asdf{
	height: 35px;
}

.zxc{
	height: 40px;
	width: 40px;
}

.sss{
	color: rgb(68, 136, 224);
	position: absolute;
	margin-top: -26px;
}

.e{
	color: rgb(91, 91, 91);
	position: absolute;
	margin-top: -26px;
}

.dd{
	position: absolute;
	width: 50px;
	height: 50px;
}

.ee{
	margin-left: 60px;
}

.ep{
	margin-left: 60px;
	margin-top: -20px;
	color: rgb(77, 77, 77);
}

.er{
    height: 350px;
	width: 470px;
}

.kr{
    height: 180px;
	width: 460px;
}

